//
// Variables
// --------------------------------------------------

$color-background                = #F2F3F4
$color-highlight-background      = rgb(253, 108, 98)
$color-theme                     = rgb(212, 68, 57)
$color-sub-theme                 = rgb(240, 116, 107)
$color-text                      = #2E3030
$color-text-l                    = #757575;
$color-border                    = #dddddd

$white                           = #ffffff

$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 24px
$font-size-default = $font-size-medium-x

$font-size-icon = 28px